LogixeeEnd/bpelContent/ExpeditionPlanificationServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://servicesEP" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servicesEP">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://servicesEP">
            <xs:element name="RandomSOA">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="capaciteMaxChaqueEquipe" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RandomSOAResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ExpeditionPlanificationServices">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="a" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ExpeditionPlanificationServicesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="ExpeditionPlanificationServicesRequest">
        <wsdl:part name="parameters" element="ns:ExpeditionPlanificationServices"/>
    </wsdl:message>
    <wsdl:message name="ExpeditionPlanificationServicesResponse">
        <wsdl:part name="parameters" element="ns:ExpeditionPlanificationServicesResponse"/>
    </wsdl:message>
    <wsdl:message name="RandomSOARequest">
        <wsdl:part name="parameters" element="ns:RandomSOA"/>
    </wsdl:message>
    <wsdl:message name="RandomSOAResponse">
        <wsdl:part name="parameters" element="ns:RandomSOAResponse"/>
    </wsdl:message>
    <wsdl:portType name="ExpeditionPlanificationServicesPortType">
        <wsdl:operation name="ExpeditionPlanificationServices">
            <wsdl:input message="ns:ExpeditionPlanificationServicesRequest" wsaw:Action="urn:ExpeditionPlanificationServices"/>
            <wsdl:output message="ns:ExpeditionPlanificationServicesResponse" wsaw:Action="urn:ExpeditionPlanificationServicesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RandomSOA">
            <wsdl:input message="ns:RandomSOARequest" wsaw:Action="urn:RandomSOA"/>
            <wsdl:output message="ns:RandomSOAResponse" wsaw:Action="urn:RandomSOAResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ExpeditionPlanificationServicesSoap11Binding" type="ns:ExpeditionPlanificationServicesPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="RandomSOA">
            <soap:operation soapAction="urn:RandomSOA" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ExpeditionPlanificationServices">
            <soap:operation soapAction="urn:ExpeditionPlanificationServices" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ExpeditionPlanificationServicesSoap12Binding" type="ns:ExpeditionPlanificationServicesPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="RandomSOA">
            <soap12:operation soapAction="urn:RandomSOA" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ExpeditionPlanificationServices">
            <soap12:operation soapAction="urn:ExpeditionPlanificationServices" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ExpeditionPlanificationServicesHttpBinding" type="ns:ExpeditionPlanificationServicesPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="RandomSOA">
            <http:operation location="RandomSOA"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ExpeditionPlanificationServices">
            <http:operation location="ExpeditionPlanificationServices"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ExpeditionPlanificationServices">
        <wsdl:port name="ExpeditionPlanificationServicesHttpSoap11Endpoint" binding="ns:ExpeditionPlanificationServicesSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/ExpeditionPlanificationServices.ExpeditionPlanificationServicesHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ExpeditionPlanificationServicesHttpSoap12Endpoint" binding="ns:ExpeditionPlanificationServicesSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/ExpeditionPlanificationServices.ExpeditionPlanificationServicesHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ExpeditionPlanificationServicesHttpEndpoint" binding="ns:ExpeditionPlanificationServicesHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/ExpeditionPlanificationServices.ExpeditionPlanificationServicesHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
