Wsdl Used Files/ExistenceVerificationServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://servicesVE" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servicesVE">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://servicesVE">
            <xs:element name="ExistenceVerificationServices">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="numeroclient" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ExistenceVerificationServicesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="ExistenceVerificationServicesRequest">
        <wsdl:part name="parameters" element="ns:ExistenceVerificationServices"/>
    </wsdl:message>
    <wsdl:message name="ExistenceVerificationServicesResponse">
        <wsdl:part name="parameters" element="ns:ExistenceVerificationServicesResponse"/>
    </wsdl:message>
    <wsdl:portType name="ExistenceVerificationServicesPortType">
        <wsdl:operation name="ExistenceVerificationServices">
            <wsdl:input message="ns:ExistenceVerificationServicesRequest" wsaw:Action="urn:ExistenceVerificationServices"/>
            <wsdl:output message="ns:ExistenceVerificationServicesResponse" wsaw:Action="urn:ExistenceVerificationServicesResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ExistenceVerificationServicesSoap11Binding" type="ns:ExistenceVerificationServicesPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ExistenceVerificationServices">
            <soap:operation soapAction="urn:ExistenceVerificationServices" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ExistenceVerificationServicesSoap12Binding" type="ns:ExistenceVerificationServicesPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ExistenceVerificationServices">
            <soap12:operation soapAction="urn:ExistenceVerificationServices" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ExistenceVerificationServicesHttpBinding" type="ns:ExistenceVerificationServicesPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="ExistenceVerificationServices">
            <http:operation location="ExistenceVerificationServices"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ExistenceVerificationServices">
        <wsdl:port name="ExistenceVerificationServicesHttpSoap11Endpoint" binding="ns:ExistenceVerificationServicesSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/ExistenceVerificationServices.ExistenceVerificationServicesHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ExistenceVerificationServicesHttpSoap12Endpoint" binding="ns:ExistenceVerificationServicesSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/ExistenceVerificationServices.ExistenceVerificationServicesHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ExistenceVerificationServicesHttpEndpoint" binding="ns:ExistenceVerificationServicesHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/ExistenceVerificationServices.ExistenceVerificationServicesHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
