Wsdl Used Files/ValiditeVerificationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://servicesVVV" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servicesVVV">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://servicesVVV">
            <xs:element name="ValiditeVerificationService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="numeroOrdreclient" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ValiditeVerificationServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="ValiditeVerificationServiceRequest">
        <wsdl:part name="parameters" element="ns:ValiditeVerificationService"/>
    </wsdl:message>
    <wsdl:message name="ValiditeVerificationServiceResponse">
        <wsdl:part name="parameters" element="ns:ValiditeVerificationServiceResponse"/>
    </wsdl:message>
    <wsdl:portType name="ValiditeVerificationServicePortType">
        <wsdl:operation name="ValiditeVerificationService">
            <wsdl:input message="ns:ValiditeVerificationServiceRequest" wsaw:Action="urn:ValiditeVerificationService"/>
            <wsdl:output message="ns:ValiditeVerificationServiceResponse" wsaw:Action="urn:ValiditeVerificationServiceResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ValiditeVerificationServiceSoap11Binding" type="ns:ValiditeVerificationServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ValiditeVerificationService">
            <soap:operation soapAction="urn:ValiditeVerificationService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ValiditeVerificationServiceSoap12Binding" type="ns:ValiditeVerificationServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ValiditeVerificationService">
            <soap12:operation soapAction="urn:ValiditeVerificationService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ValiditeVerificationServiceHttpBinding" type="ns:ValiditeVerificationServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="ValiditeVerificationService">
            <http:operation location="ValiditeVerificationService"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ValiditeVerificationService">
        <wsdl:port name="ValiditeVerificationServiceHttpSoap11Endpoint" binding="ns:ValiditeVerificationServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/ValiditeVerificationService.ValiditeVerificationServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ValiditeVerificationServiceHttpSoap12Endpoint" binding="ns:ValiditeVerificationServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/ValiditeVerificationService.ValiditeVerificationServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ValiditeVerificationServiceHttpEndpoint" binding="ns:ValiditeVerificationServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/ValiditeVerificationService.ValiditeVerificationServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
